.sliderCont
    display: flex
    justify-content: center
    align-items: center
    height: 50vh
    background-size: cover
    margin-top: -20vh
p
    font-family: $texto
    font-weight: 900
    font-size: 30px
    color: #02F7F0
.color-fondo
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%