/*colores solidos*/
$color-primario: green
$azul-oscuro: #041119
$azul-claro: #061826
$color-secundario: red
/*colores degradados*/
/*colores transparentes*/
$azul-claro-transparente: #061826c5
/*tipografías*/
$titulo: 'Nunito', sans-serif
$texto: 'Monserrat', sans-serif


