/*colores solidos*/
$color-primario:#4C46C0
$fondo: #1F1F1F
$azul-claro: #061826
$color-secundario: red
$morado:#4C46C0
/*colores degradados*/
$degr:(to left top,#0202ff8e,#e87fee)
$degradado: linear-gradient(to left top,blue,violet)
/*colores transparentes*/
$azul-claro-transparente: #061826c5
/*tipografías*/
$titulo: 'Nunito', sans-serif
$texto: 'Monserrat', sans-serif


