@import '_variables'
@import '_header'
@import '_footer'
@import '_slider'
@import '_inicio'
@import '_habilidades'
@import '_contacto'
@import '_proyectos'
*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: $texto
html
    scroll-behavior: smooth
body
    background-color: $fondo
section
    height: 100vh

